@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 5%;
    --panel: 0 0% 9.4118%; /* gray-2 */
    --white: 0 0% 100%;
    --black: 0 0% 0%;
    --brand: 0 100% 69%;
    --purple: 255.6 99.2% 75.9%;
    --blue: 201.4 99.4% 66.8%;
    --gray-1: 0 0% 5.098%;
    --gray-2: 0 0% 9.4118%;
    --gray-3: 0 0% 13.333%;
    --gray-4: 0 0% 16.078%;
    --gray-5: 0 0% 19.216%;
    --gray-6: 0 0% 22.745%;
    --gray-7: 0 0% 28.235%;
    --gray-8: 0 0% 37.647%;
    --gray-9: 0 0% 43.137%;
    --gray-10: 0 0% 48.235%;
    --gray-11: 0 0% 70.588%;
    --gray-12: 0 0% 93.333%;
    --gray-a1: hsla(0, 0%, 0%, 0);
    --gray-a2: hsla(0, 0%, 100%, 0.0353);
    --gray-a3: hsla(0, 0%, 100%, 0.0706);
    --gray-a4: hsla(0, 0%, 100%, 0.1059);
    --gray-a5: hsla(0, 0%, 100%, 0.1333);
    --gray-a6: hsla(0, 0%, 100%, 0.1725);
    --gray-a7: hsla(0, 0%, 100%, 0.2314);
    --gray-a8: hsla(0, 0%, 100%, 0.3333);
    --gray-a9: hsla(0, 0%, 100%, 0.3922);
    --gray-a10: hsla(0, 0%, 100%, 0.4471);
    --gray-a11: hsla(0, 0%, 100%, 0.6863);
    --gray-a12: hsla(0, 0%, 100%, 0.9294);
  }
}

.light {
  --background: 0 0% 94%;
  --panel: 0 0% 95%;
  --brand: 0 100% 69%;
  --gray-1: 0 0% 92.549%;
  --gray-2: 0 0% 90.588%;
  --gray-3: 0 0% 86.667%;
  --gray-4: 0 0% 83.137%;
  --gray-5: 0 0% 80%;
  --gray-6: 0 0% 76.471%;
  --gray-7: 0 0% 72.157%;
  --gray-8: 0 0% 64.314%;
  --gray-9: 0 0% 46.667%;
  --gray-10: 0 0% 42.745%;
  --gray-11: 0 0% 31.373%;
  --gray-12: 0 0% 12.549%;
  --gray-a1: hsla(0, 0%, 0%, 0.0118);
  --gray-a2: hsla(0, 0%, 0%, 0.0235);
  --gray-a3: hsla(0, 0%, 0%, 0.0588);
  --gray-a4: hsla(0, 0%, 0%, 0.0902);
  --gray-a5: hsla(0, 0%, 0%, 0.1216);
  --gray-a6: hsla(0, 0%, 0%, 0.149);
  --gray-a7: hsla(0, 0%, 0%, 0.1922);
  --gray-a8: hsla(0, 0%, 0%, 0.2667);
  --gray-a9: hsla(0, 0%, 0%, 0.4471);
  --gray-a10: hsla(0, 0%, 0%, 0.4863);
  --gray-a11: hsla(0, 0%, 0%, 0.6078);
  --gray-a12: hsla(0, 0%, 0%, 0.8745);
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  @apply bg-background text-gray-12;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  @apply cursor-default;
}

main {
  min-height: calc(100% - 50px);

  > div {
    flex-grow: 1;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

select {
  appearance: none;
}

.buttonGroup {
  display: flex;
  align-items: center;

  & > *:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  & > * ~ * {
    margin-left: -1px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

svg {
  width: 16px;
  height: 16px;
}

/* code images */

:root {
  --panel-background: #191919;
  --panel-border: 1px solid rgba(255, 255, 255, 0.2);
  --panel-text-color: rgba(255, 255, 255, 0.4);
  --panel-dropdown-border: rgba(255, 255, 255, 0.1);
  --panel-padding-selected: #fff;

  --frame-background: rgba(255, 255, 255, 0.75);
  --frame-control-color: rgba(0, 0, 0, 0.2);
  --frame-title-placeholder-color: rgba(0, 0, 0, 0.3);
  --frame-title-color: rgba(0, 0, 0, 0.6);
  --frame-shadow-border: rgba(0, 0, 0, 0.1);
  --frame-highlight-border: rgba(255, 255, 255, 0.75);
  --ray-highlight-hover: rgba(0, 0, 0, 0.05);
  --ray-highlight: rgba(0, 0, 0, 0.1);
  --ray-highlight-border: transparent;
  --line-number: rgba(0, 0, 0, 0.2);
}

[data-theme="dark"] {
  --frame-background: rgba(0, 0, 0, 0.75);
  --frame-control-color: rgba(255, 255, 255, 0.2);
  --frame-title-placeholder-color: rgba(255, 255, 255, 0.3);
  --frame-title-color: rgba(255, 255, 255, 0.6);
  --frame-shadow-border: rgba(0, 0, 0, 0.8);
  --frame-highlight-border: rgba(255, 255, 255, 0.3);
  --ray-highlight-hover: rgba(255, 255, 255, 0.05);
  --ray-highlight: rgba(255, 255, 255, 0.1);
  --line-number: rgba(255, 255, 255, 0.2);
}
